.Raznoe .posts-list-image {
    height: 58px;
}

.Top_label {
    border-radius: 4px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAE0lEQVQIW2N48+bNfxhggLPwcgDQbi+YlZXTEQAAAABJRU5ErkJggg==);
    margin: -25px -25px 2px -25px;
    padding: 10px;
}

.Raznoe .metabox-d {
   
    font-size: 10px;
    letter-spacing: .2px;
}


.Main.Raznoe h5 {
    margin-bottom: -5px;
    
}

.Raznoe .Main_body {
       background: #f7f7f7;
}

.Raznoe .media {
  
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAE0lEQVQIW2N48+bNfxhggLPwcgDQbi+YlZXTEQAAAABJRU5ErkJggg==);

    padding: 15px 25px;
    overflow: auto;
    display: block;
     margin: 0 -25px 15px;
    border-radius: 4px;
}



.post_header_info {
    padding-top: 8px;
}



.raznoe_date {
    text-transform: uppercase;
    margin: .5em 0;
    font-style: normal;
    color: #5f6368;
    font-size: 14px;
    letter-spacing: .08em;
}

.raznoe_image{
    float: left;
    width: auto;
    margin: 8px 20px 0 0;
    height: 38px;
    display: inline-block;
}

img.raznoe_img {
    border-radius: 50%;
    vertical-align: top;
}

.wall_raznoe_text {
    font-size: 16px;
    color: #424242;
    margin-top: 4px;
    line-height: 30px;
}

.raznoe_heading{
    margin: 0 0 5px;
    padding-top: 8px;
}















.raznoe_footer_info {
    color: rgb(128, 128, 128);
    margin: .5em 0;
}








.one_column main.Main_body {
    width: 100%;
}



.one_column .Main {
   
    max-width: 550px;
    
}



.one_column .Header_body {
    max-width: 550px;
}

