@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i&subset=cyrillic-ext');

@import "video.css";
@import "article.css";
@import "aside.css";
@import "post-single.css";
@import "blog.css";
@import "navbar.css";
@import "post_filters.css";
@import "paginator.css";
@import "it.css";
@import "welcome-bar.css";
@import "index.css";
@import "normalize.css";
@import "jquery.css";
@import "enhanced.css";
@import "bootstrap-custom.css";
@import "modal.css";
@import "raznoe.css";
@import "tags.css";


  body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: 'Merriweather', Georgia, Times;
   background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAE0lEQVQIW2N48+bNfxhggLPwcgDQbi+YlZXTEQAAAABJRU5ErkJggg==); 
    position: relative;
    min-height: 100vh;
    line-height: 25px;
    
       letter-spacing: .01em;
    font-weight: 400;
 
 
  }

@media only screen and (min-width : 768px) {
    body {
    font-size: 16px;
  }
}

p {
  margin: .5em 0;
  line-height: 30px;
  margin: .5em 0;
 
line-height: 18px;

font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Merriweather', Georgia, Times;
  font-weight: 700;
  margin: .5em 0;
  
  margin: 20px 0 10px;
    padding: 4px 0;
}


h1 {
    text-rendering: optimizeLegibility;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-size: 36px;
    margin-top: 0;
}



h2 {

    text-rendering: optimizeLegibility;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-size: 22px;
    font-weight: 600;
}


h3{

    text-rendering: optimizeLegibility;
    letter-spacing: -0.02em;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 600;
}
h4 {
 font-size: 24px;
font-weight: 400;
   letter-spacing: 0;

}
  
h5 {
 font-size: 20px;
   font-weight: 500;
   letter-spacing: .005em;
   line-height: 26px;
}


blockquote {
    margin-top: 30px;
}





/* Badge-category */

.square-categories span {
    margin-right: 5px;
    margin-left: 5px;
}

.badge-category-medtech {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  color: transparent;
  background-color: #e9a4a4;
  border: 1px solid transparent;
cursor: pointer;
}
.badge-category.medtech.disabled {
    border: 1px solid #e9a4a4;
    background-color: transparent;
}


.badge-category-video {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  color: transparent;
  background-color: #ffe0f2 ;
  border: 1px solid transparent;
cursor: pointer;
}


.badge-category.video.disabled {
    border: 1px solid #ffe0f2;
    background-color: transparent;
}

.badge-category-razrabotka {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  color: transparent;
  background-color: #b5c5d6; 
  border: 1px solid transparent;
cursor: pointer;
}
.badge-category.razrabotka.disabled {
    border: 1px solid #b5c5d6;
    background-color: transparent;
}


.badge-category-music {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
  color: transparent;
  background-color: #4d7c79 ;
  border: 1px solid transparent;
cursor: pointer;
}

.badge-category.music.disabled {
    border: 1px solid #4d7c79;
    background-color: transparent;
}

.badge-category-all {
  border: 1px solid #000;
        width: 10px;
    height: 10px;
    margin-right: 5px;
    display: inline-block;
    color: transparent;
    cursor: pointer;
  
}

/* Single Post */

.video-container + p {
    margin-top: 30px;
}

p + .video-container {
      margin-top: 21px;
}

.welcome_bar_single_post h5.media-heading {
    display: inline-block;    
  margin-bottom: 24px;    
}


.welcome_bar_single_post ul.square-categories {

    margin-top: 0;
    }


.image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}


.metabox-k-d {
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  white-space: nowrap;
}

.text-category {
  text-transform: uppercase;
  color: rgb(128, 128, 128);
  margin: 0 5px 0 15px;
  font-size: 14px;
  font-weight: 500;
}

.metabox-d {
  text-transform: uppercase;
     margin: .5em 0;
    font-style: normal;
    color: #5f6368;
  
    letter-spacing: .08em;
 
line-height: 15px;
font-size: 12px;
}






.featured-image-single{
    
    height: auto;
    width: 100%;
    
  margin: 8px 16px 8px 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #ddd;
}


/* Single Post Image */

.center-media {
  margin: 0 auto;
  display: block;
  padding: 10px !important;
    margin: 40px;
}

.page-media {
  margin-bottom: 15px;
  margin-top: 15px;
}

/* Single Post Featured Image */

.featured-image {
  float: left;
  height: 8em;
  width: auto;
  margin: 8px 16px 8px 0;
  border-radius: 3px;
  box-shadow: 0 0 0 1px #ddd;
}





.notebody audio {
      margin-top: 24px;
}
audio {
    width: 100%;
   
}


/* Masthead */

.header, .footer, .footer-dev, .header h3 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* Navigation */

h3.text-muted a {
  text-decoration: none;
  color: #999999;
}

h3.text-muted a:hover {
  text-decoration: none;
  color: #0088cc;
}

img.avatar {
  margin-bottom: 30px;
}

/* Custom container */

.container>hr {
  margin: 30px 0;
}

.container>hr.footer {
  margin-bottom: 15px;
}

/* E-Mail */

.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* Jumbotron */

.jumbotron {
  margin: 80px 0;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing p {
  line-height: 25px;
}

.marketing p.lead {
  line-height: 30px;
}



/* Swatches */

.swatch-log h2.date {
  margin-bottom: 30px;
}

.swatch-log {
  margin: 30px auto 70px;
  height: 140px;
}

ul.swatch {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  height: 50px;
}

ul.swatch li {
  text-transform: uppercase;
  display: inline;
  float: left;
  height: 80px;
  width: 75px;
  text-indent: -9999px;
  font-size: 14px;
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-image: url(/img/glass.png);
  background-repeat: repeat-x;
  background-position: 0 50%;
}

ul.swatch li:hover {
  height: 75px;
  width: 75px;
  vertical-align: middle;
  text-indent: 0;
}

/*
ul.swatch li:last-child { webkit-border-top-right-radius: 9px; -webkit-border-bottom-right-radius: 9px; -moz-border-radius-topright: 9px; -moz-border-radius-bottomright: 9px; border-top-right-radius: 9px; border-bottom-right-radius: 9px; }
ul.swatch li:first-child { webkit-border-top-left-radius: 9px; -webkit-border-bottom-left-radius: 9px; -moz-border-radius-topleft: 9px; -moz-border-radius-bottomleft: 9px; border-top-left-radius: 9px; border-bottom-left-radius: 9px; }
*/

.swatch-log p {
  font-size: 14px;
  clear: left;
  margin-top: 10px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-transform: uppercase;
}

.clear {
  clear: both;
  height: 20px;
}

/* CV */

.cv {
  line-height: 23px;
  width: 90%;
  margin: 0 auto;
}

.cv li {
  line-height: 23px;
}

.cv h2 {
  font-size: 26.5px;
}

.cv h1 {
  font-size: 32.5px;
}

.notes, .contact, .about, .cv, .error, .swatches {
  margin-bottom: 30px;
}

/* Contact */

iframe {
  font-family: 'Merriweather', Georgia, Times;
  font-size: 16px;
}

/* About */

.about ul.list-unstyled li {
  line-height: 30px;
  text-indent: -30px;
  margin-left: 30px;
}




/* Code */

pre.prettyprint {
  padding: 10px !important;
  margin: 40px;
  font-size: 12px;
}

.step {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #4679BD;
  color: #FFF;
  float: left;
  text-align: center;
  font-size: 24px;
  padding-top: 5.5px;
  margin: 5px 15px 0px 0px;
  font-family: 'Montserrat', Helvetica, sans-serif;
}


/* LANGUAGE-SELECTOR */

ul#languages li {
  display: inline;
}

ul#languages {
  float: right;
}

a.ru {
  background-position: 0 -996px;
  top: 1px;
  position: relative;
  min-width: 22px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(languages/languages.png);
}

a.en {
  background-position: 0 -596px;
  top: 1px;
  position: relative;
  min-width: 22px;
  height: 16px;
  min-height: 16px;
  max-height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url(languages/languages.png);
}

/* @media query overrides */



@media only screen and (min-width : 768px) {
    .welcome_bar_single_post h5.media-heading {
    display: inline-block;    
  margin-bottom: 24px; 
  margin-top: -8px;
}
}





/* Typographical */

 figcaption {
    font-size: 12px;
    color: #5f6368;
   margin-top:16px;
  
    margin-bottom: 16px;
   
   font-weight: 400;

    letter-spacing: 0.24px;
    line-height: 17px;
}

ul, ol {

line-height: 25px;
}
  blockquote p {
    font-size: inherit;
    }



/* MUSIC */

.centerBlock  {
margin-left: auto;
    margin-right: auto;
    display: block;
   
  
}

.image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 32px;
}





.media-body.post {
    margin-bottom: 3.750em;
}





h4.media-heading {
        margin-bottom: 24px;
}

.Music h4.media-heading {
    margin-bottom: 0px;
}


.centerBlock a {
    display: block;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: rgb(128, 128, 128);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .02em;
}


iframe {
      max-width: 100%;
    width: 100%;
      margin-bottom: 32px;

}









.media-body {
  font-size: 16px;
      color: #424242;
    margin-top: 4px;
  line-height: 30px;
    
}





.metabox-t {
    margin: .5em 0;
    font-style: normal;
    color: #5f6368;

    font-style: normal;
    
    font-size: 14px;
   
    
    letter-spacing: .08em;
}


hr {
    height: 1px;
    background: #f5f4f2;
    color: #f5f4f2;
    border: 0;
    margin: 0 -25px 10px;
}

main hr {
    height: 2px;
    
}


#contact .container {
   
    color: #777;
    border-top: 1px solid #e5e5e5;
}












