.Tags li {
    padding: 0;
    margin: 0;
    display: inline-block;
    margin: 0 0 0.3rem 0.3rem;
}

.Tags a {
    border-radius: 4px;
    background: #f4efe9;
    display: block;
    padding: 0.1rem 0.5rem;
    
    margin: .5em 0;

color: #5f6368;
font-style: normal;
font-size: 14px;
letter-spacing: .08em;
}

.Tags {
    padding: 0;
    margin: 0 0 1rem -0.3rem;
    list-style-type: none;
}
