---
layout: two-columns
---

<div class="container">
  <div class="row">
    <div class="col">
      1 of 2
    </div>
    <div class="col">
      

<div class="Main">
	<main role="main" class="Main_body">
		<div>
			<a class="tag-label" href="/"><span class="badge-category music"></span> музыка </a>
		</div>
		<hr>
		
		
		{% for post in site.posts %} {% if post.categories contains 'музыка' %}
		<div class="PostsList">
			<h4 class="media-heading">
				<a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
			</h4>
			
			<div class="metabox-t">
				{% if post.tags.size > 0 %} {{ post.tags | sort | join: " | " }} {% endif %}
			</div>
			
			
			
			
			{% if post.image %}
			<div class="image">
				<img class="image--big" src="{{ post.image }}" alt="{{ post.title }}" />
			</div>
			{% endif %}
			<div class="media-body post">
				{% if post.content contains "<!-- Дальше -->" %} {{ post.content | split:"<!-- Дальше -->" | first % }}
				<div>
					<a href="{{ post.url }}"> Read More </a>
				</div>
				{% else %} {{ post.content }} {% endif %}
			</div>
			
		</div>
		{% endif %} 
		{% endfor %}
		
		  {% include paginator.html %}
        
        </main>
	
	
	
		<div class="Main_aside">
			<aside class="SideBar">
				
				
				<div class="green widget-title">
			
                                <h3>
  					When music speaks louder than words
  				</h3>
				</div>
			
                                 
				
				
				
				<p>
					Так по-жизни сложилась, что мне часто приходилось доносить свои "люблю" "нелюблю" до людей далеких от России. Однажды я решила, что нет ничего проще достаточно просто перевести свои любимые песни и фильмы,
					но этого оказалось мало.
				</p>
				<p>
					В общем, опытным путем поняла есть фильмы и песни internationalised на сто процентов, есть чуть менее. 
					Стопроцентных мало, примерно как Богемская Рапсодия: я не понимаю о чем ты, но уже с
					тобой...
				</p>
	
			</aside>
		</div>
</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
     

<div class="Main">
	<main role="main" class="Main_body">
		<div>
			<a class="tag-label" href="/"><span class="badge-category music"></span> музыка </a>
		</div>
		<hr>
		
		
		{% for post in site.posts %} {% if post.categories contains 'музыка' %}
		<div class="PostsList">
			<h4 class="media-heading">
				<a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a>
			</h4>
			
			<div class="metabox-t">
				{% if post.tags.size > 0 %} {{ post.tags | sort | join: " | " }} {% endif %}
			</div>
			
			
			
			
			{% if post.image %}
			<div class="image">
				<img class="image--big" src="{{ post.image }}" alt="{{ post.title }}" />
			</div>
			{% endif %}
			<div class="media-body post">
				{% if post.content contains "<!-- Дальше -->" %} {{ post.content | split:"<!-- Дальше -->" | first % }}
				<div>
					<a href="{{ post.url }}"> Read More </a>
				</div>
				{% else %} {{ post.content }} {% endif %}
			</div>
			
		</div>
		{% endif %} 
		{% endfor %}
		
		  {% include paginator.html %}
        
        </main>
	
	
	
		<div class="Main_aside">
			<aside class="SideBar">
				
				
				<div class="green widget-title">
			
                                <h3>
  					When music speaks louder than words
  				</h3>
				</div>
			
                                 
				
				
				
				<p>
					Так по-жизни сложилась, что мне часто приходилось доносить свои "люблю" "нелюблю" до людей далеких от России. Однажды я решила, что нет ничего проще достаточно просто перевести свои любимые песни и фильмы,
					но этого оказалось мало.
				</p>
				<p>
					В общем, опытным путем поняла есть фильмы и песни internationalised на сто процентов, есть чуть менее. 
					Стопроцентных мало, примерно как Богемская Рапсодия: я не понимаю о чем ты, но уже с
					тобой...
				</p>
	
			</aside>
		</div>
</div>
    </div>
  </div>
</div>








