---
title: Contact
cv: passive
notes: passive
contact: active
---

<!DOCTYPE html>
<html lang="ru">
	{% include head.html %}
	
	
	<body id="contact">
		
		<div class="Header">
				<div class="Header_body">
					<a href="/"><img class="logo-large" src="/img/logo-japan.png"></a>
					<a rel="author" href="/" class="Header_me">xenidev</a>
					<nav class='ribbon'>
						<a href='#'data-toggle="modal" data-target="#myModal"><span>Контакты</span></a>
					</nav>
				</div>
			</div>
		<div class="container main">
	
			

			
			
			
	<!-- <div class="jumbotron"> -->
<div class="row marketing">
  <div class="col-sm-3">
  <!--  <img class="img-circle avatar" style="width:150px;" alt="XP" src="https://xenidev.github.io/img/31.jpg"> -->
  </div>
  <div itemscope itemtype="http://data-vocabulary.org/Person" class="col-sm-9">
    <p class="lead">Доброго времени суток! </p>

    <p>К организации IT мероприятий я не имею никакого отношения и редко на них бываю. </p>  
    <p> Cо мной можно связаться через:</p> 
    <ul class="list-unstyled">
		
	<li>Гитхаб: <a href="https://github.com/xenidev">@GitHub</a></li>
		<li></li>
	<li>Или просто написать на email: xenidevxeni(at)gmail.com</li>
	</ul>
  </div>
</div>
<!-- </div> -->		
			
			
			{% include footer.html %}
		
</div> <!-- /container -->
	
	
		{% include scripts.html %}
	
	</body>

</html>















