<div class="header">
	<ul class="nav nav-pills pull-right">
		<!--<li class="{{ page.cv }}"><a href="/cv" title="CV">CV</a></li>
		
	
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Видео</a></li>
<li class="{{ page.contact }}"><a href="/contact" title="Contact">Музыка</a></li>
<li class="{{ page.contact }}"><a href="/contact" title="Contact">Разное</a></li>
		<li class="{{ page.notes }}"><a href="/notes" title="Notes">Блог</a></li> -->
	</ul>
		
	<a href="/">
            
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

          
        </a>
</div> <!-- /header -->
