<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="xnidev">
	<meta name="robots" content="noindex" />
	<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	
	<title>{{ page.title }} xеnidev </title>		
	<!-- styles -->
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
	
	{% if site.tags != "" %}
  {% include collecttags.html %}
{% endif %}


</head>
