<div class="notelist">
    {% for post in site.posts %}
    <ul class="listnotes list-unstyled">
        <li>
                    <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1> 
           
          
                  
            
            {{ post.content | remove: '<h2>' | remove: '</h2>' | truncatewords: 50 }} <a href="{{ BASE_PATH }}{{ post.url }}">Read more!</a>
  
            
            
               {% include categories.html %}
          
            
         
            
            
                        
                       
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        </li>
        
    
    </ul>
    {% endfor %}
</div><!--/.notelist -->
