<!-- .welcome_bar -->
<div class="welcome_bar">

    <ul class="square-categories">
        
        <li> <a href="/notes/">все</a></li>
        <li> <a href="/notes/razrabotka.html">IT<span class="badge-category razrabotka"></span> </a> </li>
        <li> <a href="/notes/video.html">Видео<span class="badge-category video"></span></a> </li>

        <li> <a href="/notes/music.html">Музыка<span class="badge-category music"></span></a> </li>
        <li> <a href="/notes/medtech.html">Разное<span class="badge-category medtech"></span></a> </li>
    </ul>

</div>
<!-- /.welcome_bar -->

