<aside class="SideBar">
						<h3>
							When music is music....
						</h3>
						<p>
							Так по жизни сложилась, что мне часто приходилось доносить свои "люблю" "нелюблю" до людей не говорящих по-русски. Однажды я решила, что нет ничего проще достаточно перевести свои любимые песни и фильмы,
                             но этого оказалось недостаточно.
						</p>
						<p>
							В общем, опытным путем удалось понять, что есть фильмы и песни internationalised на сто процентов, есть чуть менее. Стопроцентных мало, примерно как Богемская Рапсодия: я не понимаю о чем ты, но уже с тобой...
						</p>
						<p>
						Поэтому мой личный хитпарад - это, в каком-то смысле, "when music speaks louder than words".
						</p>
					</aside>
