---
layout: large
title: video collection
cv: passive
notes: passive
contact: passive
---
<div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-12">
         <div class="pageHeading">
            <h1 class="mainHeading">Видео</h1>
            <h4 class="subHeading">Проба пера: монтаж,съемка</h4>
         </div>
         
            <div class="col-md-1">               
   </div>
         </div>
       </div>
    </div>
      


         
        <div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-4">
    
                 <div class="resource--content-headline">Заставка </div>
         
         <div class="media-body">
             <p>Встреча проходила в рамках Клуба Программистов. Съемка получилась спонтанной. Люди слушали и рассказывали с интересом, именно эту атмосферу и захотелось передать.</p>
         </div>
      </div>
      <div class="col-md-8">
        
         
            {% include youtube.html id="07eH5GwYtQ8" %}
        
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
    </div>
        





<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Черновик </div>
         {% include youtube.html id="JEeJ-X5P-c8" %} 
         <div class="media-body">
            <p>Это первый черновик видео. Сюда не вошли видео с докладов поэтому стиль, музыка все подбиралось под то, что было. А то, конечно, был бы хэви-метал.</p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Окончательный вариант </div>
         {% include youtube.html id="UYaqTu3UHcE" %}
         <div class="media-body">
            <p>Это был мой первый опыт наложения звука на видеоряд. Фраза "Хорошо живем" показалась жизнеутверждающей. Съемка была запланированной. Снимали на две камеры.  </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
         
         
         
 
         
         
         
         
         
         
         
         
         
         
         
<div class="row">
<div class="col-md-1">               
</div>
<div class="col-md-10 footer-border">
</div>
<div class="col-md-1">               
</div>
