<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="xnidev">
    <meta name="robots" content="noindex" />
    <title>{{ page.title }}xеnidev </title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
	
		<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	
	
	<link href='https://xenidev.github.io/feed.xml' rel='alternate' type='application/atom+xml'>

</head>

<body id="Body">
    <div class="Root Raznoe">
        <div class="Header">
            <div class="Header_body">
                <a href="/"><img class="logo-large" src="/img/logo-japan.png"></a>
                <a rel="author" href="/" class="Header_me">xenidev</a>
                
		    
		      <nav class='ribbon'>
  
  <a href='/contact'><span>Контакты</span></a>

</nav>
		    
		    
		    
		    
		    
            </div>

        </div>

        <div class="Main">
            <main role="main" class="Main_body">
		    
		    
		        <h1>Web Development</h1>
                <div class="SubHeading">UX/UI дизайн, HTML, CSS, presentational JavaScript.</div>
               <hr>

                {{ content }}
		    
	<div class="footer-dev row">
	
	<div class="col-sm-12 footer_bar">
	<small>&copy; xenidev 2019</small>
		<span class="pull-right"><small><a href="/about" title="About this site">О сайте</a></small></span>
	</div>
	
	
</div> <!-- /footer -->
		    
		    
		    
		    

            </main>
		
		
		
		
		
            <div class="Main_aside">
                <aside class="SideBar">
                   
			
	

				</aside>
            </div>
            

        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-7">

            </div>
            <!-- /md-6 -->
            <div class="col-md-3">

            </div>
        </div>
      

	  
</div> <!-- /container -->
	
	
	
	
		{% include scripts.html %}
	
	</body>

</html>


  
	    
    
